<header>
  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
    <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
  </video>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Find a tutor that can help you now.</h1>
      <hr>
      <p>Find a fellow student near you now that has already taken the class to help you go through it.</p>
      <a href="" class="btn btn-primary btn-xl">Find Out More</a>
      <% if current_user %>
          <div class="input-group input-group-lg center">
            <div class="input-group inline">
            <input type="text" class="form-control searchbar" id="search" placeholder="Search for...">
              <div class="input-group date">
                <input type="text" class="form-control date" data-provide='datepicker' placeholder="Date">
              </div>
            <span class="input-group-btn">
              <button class="btn btn-default search_icon" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>

</header>

<script>
  $( "#search" ).autocomplete({
    source: '/search_suggestions'
  });
</script>
